h1 Hello everyone
p During this time, I learned nodejs and pug。
p Can you get the flag

h2
    a(href="/core?q=source") Click here to get the source
h2
    a(href="?action=upload") Only admin can use this